h1 {
    color: #2E4053; /* Mørk Skifergrå */
  }
  
  mat-form-field {
    width: 100%; /* Sørg for at form-felter fylder containeren */
  }
  
  .close-btn {
    padding: 10px 20px;
    background-color: #2E4053; /* Mørk Skifergrå */
    color: #ECF0F1; /* Cremehvid */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .close-btn:hover {
    background-color: #ABB2B9; /* Lys Grå */
    color: #2E4053; /* Mørk Skifergrå */
  }
  
  